@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--primary-dark-color-1);
    color: #fff;
    font-family: Poppins;
}
a {
    color: #fff;
    text-decoration: none;
}
nav {
    background: var(--primary-dark-color-3);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    
    border-bottom: 1px solid #fff;
    
}


#formbox div input[type=text] {
    border: solid 2px black;
    background-color: var(--surface-dark-color-2);
}

#formbox div input[type=text]:focus {
    background-color: var(--surface-dark-color-1);
}

nav .rechercher {
    margin-top: 0.5%;
    margin-left: 5%;
}
nav .logo {
    margin-left: 2%;
}

nav .rechercher input[type=text] {
    margin-top: 0.6%;
    border: 1px solid var(--text-dark-color-1);
    background: var(--primary-dark-color-3);
    width: 80%;
    height: 60%;
    border-radius: 50px;
    color: #fff;
}

nav .rechercher input[type=text]:focus {
    background-color: var(--surface-dark-color-1);
}

nav .rechercher img {
    
    width: auto;
    height: 70%;
}
.contacts {
    position: absolute;
    z-index: 0;
    top: 10%;
    height: 90%;
    width: 100%;
    background: var(--primary-dark-color-2);
}
.contacts .title {
    text-align: center;
}
.box-contact {
    display: flex;
    align-items: center;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    width: 100%;
    z-index: -1;
}
.box-contact .logo {
    margin-left: 10%;
}