#msgframe {
    position: absolute;
    width: 100%;
    top: 0;
    height: 90%;
}



form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}



body {
    display: flex;
    background-color: var(--primary-dark-color-1);
    overflow: hidden;
    padding: 0 !important;

}

#sending {
    position: fixed;
    bottom: 0px;
    width: 80%;
    
    z-index: 1000;
    color: #fff;
    background-color: var(--primary-dark-color-1);
    padding-left: 10%;
    padding-right: 10%;

}
.mb-3 {
    background-color: var(--primary-dark-color-1);

}


#discussion {
    position: relative;
    height: 100%;
    width: 80%;
    background-color: var(--primary-dark-color-1);
    

}

.other {
    position: relative;
    margin-right: 55%;
    margin-left: 5%;
    left: 0;
    float: left;
    background-color: #212334;
    animation-name: anim-shadow;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 5px;

}
@keyframes anim-shadow {
    from, to {
        box-shadow: 10px 0px 25px 0 var(--msg-color-bg-1), 
     -10px 0px 15px 0px var(--msg-color-bg-3),
     0px 0px 5px 0px var(--msg-color-bg-2);
    }
    50% {
        
        box-shadow: 0px 0px 25px 0 #7E5CE2;
        
    }
    
    }
.admin {
    position: absolute;
    left: 30%;
    right: 30%;
    
    background-color: red;
    text-align: center;
    border-radius: 50px;
}



.you {
    position: relative;
    margin-left: 55%;
    margin-right: 5%;
    right: 0;
    float: right;
    background: linear-gradient(to right, var(--msg-color-bg-1), var(--msg-color-bg-2));
    border-radius: 10px 0px 10px 10px;
    color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 50px;
}


#messages > div {
    position: relative;
    padding: 1vmin 5vmin 1vmin 5vmin;
    width: auto;
    display: ltr;
    max-width: 40%;
    overflow-wrap: break-word;
    margin-top: 15px;
    scroll-behavior: smooth;

}

#messages {
    position: absolute;
    height: 90%;
    top: 10%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;

}
#messages div {
    scroll-behavior: smooth;
}

#contacts {
    width: 20%;
    border-right: 2px solid var(--mixed-dark-color-2);
    background: var(--primary-dark-color-2);
    display: flex;
    justify-content: center;
    overflow-y: auto;
    box-shadow: 30px 0px 50px #000;
}
#contacts .contact {
    width: calc(10% + 10%);
    position: absolute;
    left: 0;
}
.box-contact {
    display: flex;
    align-items: center;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    width: 100%;
    z-index: -1;
}
.box-contact:hover {
    background: var(--primary-dark-color-3);
    cursor: pointer;
}
.box-contact .nom {
    margin-left: 10%;
    color: #fff;
    text-decoration: none;
}
.box-contact .logo {
    margin-left: 10%;
}

.date {
    position: absolute;
    bottom: 1%;
    
    right: 10%;
    font-size: 30%;
    color: var(--text-dark-color-1);
}
.msg {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.contact .header {
    background: var(--primary-dark-color-3);
    
    top: 0;
    border-right: 2px solid var(--mixed-dark-color-2);
    height: 10%;
    padding-bottom: 5%;
    border-bottom: 1px solid #fff;
}

.input-group {
    width: 100% !important; 
}
@media (min-width: 320px) and (max-width: 1024px) {
    #contacts {
        display: none !important;
        width: 0%;

    }
    #discution {
        width: 100% !important;
        left: 0;
        right: 0;
    }
}
nav.discnav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    z-index: 9999;
    border-bottom: 1px solid #fff;
    background: var(--primary-dark-color-3);
    border-bottom: 1px solid #fff;
    width: 100%;
}

nav.discnav .usr {
    margin-left: 10%;
    margin-right: 10%;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: 2px solid var(--primary-dark-color-3);
    border-radius: 50px;
    transition: 0.5s;
}
nav.discnav .usr:hover {
    background: var(--primary-dark-color-2);
    color: var(--text-dark-color-1);
    border-bottom: 2px solid var(--primary-dark-color-3);
    border-radius: 50px;
}
nav.discnav .tools {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;

}
nav.discnav .tools div {
    margin-left: 10px;
    margin-right: 10px;
}
nav.discnav .info {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;

}



